html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
.hidden {
  display: none;
}
.shown {
  display: block;
}
#test {
  color: black;
}
p {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}
li {
  font-family: sans-serif;
}
.topnav i {
  float: right;
  position: relative;
  right: 30px;
  top: 0;
  line-height: 50px;
  color: ghostwhite;
  cursor: pointer;
}
.topnav i:hover {
  color: #50a6fc;
}
.topnav {
  width: 100%;
  height: 50px;
  position: fixed;
  display: hidden;
  top: 0px;
  left: 0;
  box-shadow: 1px 2px 5px #141414;
  opacity: 1;
  z-index: 3;
  background-color: #24292e;
}
.small_border {
  width: 100px;
  height: 1px;
  position: relative;
  margin: 15px auto;
  border-bottom: 1px solid dimgray;
}
.gray {
  border-color: #24292e;
}
.white {
  border-color: ghostwhite;
}
#nav_items {
  position: fixed;
  right: 0;
  top: 50px;
  z-index: 2;
}
#nav_items ul {
  list-style-type: none;
  right: 0;
  background-color: #141414;
  opacity: 1;
  box-shadow: 1px 2px 5px dimgray;
}
#nav_items ul li {
  right: 0;
  margin: 0;
  padding: 15px 5px 15px 5px;
  width: 200px;
  text-align: center;
}
#nav_items ul li:hover {
  background-color: ghostwhite;
}
#nav_items ul a {
  text-decoration: none;
  color: rgb(5, 143, 197);
}
#logo_img {
  height: 50px;
  width: auto;
  left: 0;
  line-height: 40px;
  position: relative;
}
#homepage_banner {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  background-color: ghostwhite;
  position: relative;
  top: 50px;
  left: 0;
  z-index: 0;
}
.blur_banner {
  width: 100%;
  height: 100%;
  z-index: 3;
  position: absolute;
  backdrop-filter: blur(10px);
}
#banner_img_under {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  filter: blur(0px);
  position: relative;
  z-index: 1;
}
#inner_banner {
  width: auto;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 5;
  display: block;
  border: 3px solid ghostwhite;
}
#banner_img_over {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  z-index: 5;
  display: block;
}
#banner_scroll_btn {
  position: relative;
  top: 0;
  left: 0;
  z-index: 5;
  cursor: pointer;
  margin: auto;
  font-weight: lighter;
  font-size: 18px;
  width: 200px;
  text-align: center;
  transform: translateY(-250%);
  text-decoration: underline;
  color: ghostwhite;
}
.info_banner {
  padding: 10px;
  padding-bottom: 20px;
  margin: 0;
  width: 100%;
  height: auto;
  top: 43px;
  position: relative;
}
.info_banner p {
  margin: 10px auto 10px auto;
  padding: 20px;
  height: auto;
  width: 60%;
  text-align: center;
  position: relative;
  word-wrap: normal;
  font-weight: lighter;
  color: ghostwhite;
}
.detail_header {
  color: #29242e;
}
.gbtn {
  position: fixed;
  top: 8px;
  right: 10px;
  z-index: 200;
}
.detail_header p {
  color: #29242e;
}
.banner_link {
  color: ghostwhite;
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 10px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
}
.banner_link:hover {
  color: rgb(0, 217, 255);
}
#banner_link {
  color: rgb(0, 217, 255);
  display: inline-block;
  font-family: sans-serif;
  margin: 10px 10px;
  cursor: pointer;
  text-decoration: underline;
  font-weight: lighter;
  
}
.banner_heading {
  font-weight: lighter;
  margin: auto;
  width: auto;
  max-width: 600px;
  text-align: center;
  color: ghostwhite;
  padding: 30px 10px 10px 10px;
  font-size: 54px;
  word-wrap: normal;
}
#tool_heading {
  font-weight: lighter;
  margin: auto;
  width: auto;
  max-width: 600px;
  text-align: center;
  color: #141414;
  padding: 10px;
  font-size: 54px;
  word-wrap: normal;
}
#banner_1 {
  background-color: rgb(255, 104, 104);
}
#banner_2 {
  background-color: #5c5cbd;
}
#banner_3 {
  background-color: #24292e;
}
#banner_4 {
  background-color: rgb(41, 152, 196);
}
#banner_5 {
  background-color: rgb(67, 194, 124);
}
#heroku_logo {
  width: 150px;
  height: auto;
}
#github_logo {
  width: 80px;
}
#opp_logo {
  width: 400px;
}
#tool_section {
  width: 100%;
  min-height: 400px;
  height: auto;
  margin: 0;
  padding: 10px;
  position: relative;
  top: 50px;
  background-color: ghostwhite;
}
.solution {
  width: 400px;
  display: inline-block;
  margin: 10px;
  position: relative;
  border: 1px solid #e0e0e0;
  min-width: 400px;
  max-width: 400px;
  padding-bottom: 20px;
  border-radius: 0px;
  box-shadow: 0px 0px 5px #d1d1d1;
  padding: 20px;
}
.soln_desc {
  text-align: left;
  width: auto;
  font-weight: lighter;
  font-size: 16px;
  margin: 5px auto;
}
@media(max-width: 900px){
  .solution {
    width: 90%;
  }
}
#soln_wrap {
  margin: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.soln_logo {
  background-color: ghostwhite;
  padding: 20px 0;
}
.soln_title {
  text-align: left;
  width: auto;
  font-weight: lighter;
  font-size: 36px;
  margin: 5px auto;
  line-height: 40px;
  padding-bottom: 20px;
}
.feature {
  width: 320px;
  height: auto;
  min-height: 30px;
  background-color: rgb(65, 156, 65);
  position: relative;
  display: table;
  margin-bottom: 10px;
  padding: 0;
  box-shadow: 1px 2px 4px dimgray;
  border-radius: 5px;
}
.feature i {
  width: 30px;
  height: auto;
  min-height: 30px;
  color: rgb(123, 190, 103);
  margin: 0;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: 30px;
}
.feature p {
  min-height: 30px;
  width: 270px;
  height: auto;
  color: rgb(184, 226, 172);
  float: right;
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
}

.feature_detail {
  width: 350px;
  height: auto;
  min-height: 30px;
  position: relative;
  display: table;
  margin: auto;
  margin-bottom: 10px;
  padding: 0;
  border: 1px solid ghostwhite;
}
.feature_detail i {
  width: 30px;
  height: auto;
  min-height: 30px;
  color: ghostwhite;
  margin: 0;
  padding: 0;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  line-height: 30px;
}
.feature_detail p {
  min-height: 30px;
  width: 300px;
  height: auto;
  color: ghostwhite;
  float: right;
  margin: 0;
  padding: 10px;
  font-weight: lighter;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}

.learn_link {
  text-decoration: none;
  width: 100px;
}
.learn_more_link {
  color: #4499ee;
  text-decoration: underline;
  width: 100px;
}
.learn_more_link:hover {
  color: #0c59a5;
}
.github_link_element {
  background-color: #24292e;
  padding: 10px;
  position: relative;
  width: 80%;
  float: left;
  height: 70px;
  margin-bottom: 10px;
  max-width: 400px;
  border-radius: 5px;
}
.github_link_element:hover {
  background-color: #242323;
  box-shadow: 1px 2px 4px dimgray;
}
.github_link_element img {
  width: auto;
  height: 50px;
  position: relative;
  float: left;
  max-width: 100px;
}
.github_link_element p {
  width: auto;
  position: relative;
  float: right;
  color: ghostwhite;
  height: 50px;
  line-height: 50px;
  font-weight: lighter;
  right: 100px;
}
.detail_link_ext {
  border: 1px solid ghostwhite;
  padding: 20px;
  color: ghostwhite;
  margin: 0 10px;
  font-family: sans-serif;
  font-weight: lighter;
  text-decoration: none;
}
.detail_link_ext:hover {
  text-decoration: underline;
}
.heroku_link_element {
  background-color: #5c5cbd;
  padding: 10px;
  position: relative;
  width: 80%;
  float: left;
  height: 70px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.heroku_link_element:hover {
  background-color: #6666cf;
  box-shadow: 1px 2px 4px dimgray;
}
.heroku_link_element img {
  width: auto;
  height: 50px;
  position: relative;
  float: left;
  max-width: 100px;
}
.heroku_link_element p {
  width: auto;
  position: relative;
  float: right;
  color: ghostwhite;
  height: 50px;
  line-height: 50px;
  font-weight: lighter;
  right: 100px;
}
.details_wrapper {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px 0;
  min-height: calc(100vh - 100px);
}
#banner_link:hover {
  color: rgb(128, 151, 255);
}
.embed_video {
  width: 800px;
  height: 450px;
}
@media (max-width: 900px){
  .embed_video {
    width: 400px;
    height: 200px;
  }
}
.graytext {
  color: #24292e;
}
.push_down {
  margin-top: 70px;
  position: relative;
}
.posting {
  width: 70%;
  box-shadow: 0 0 4px dimgray;
  margin: 20px auto;
  position: relative;
}
#post_body {
  min-height: 1000px;
  padding: 0;
  height: auto;
  margin-top: 70px;
}
.footer {
  position: relative;
  bottom: 0;
  background-color: #24292e;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
}
.images_area {
  width: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 50px 10px 50px;
}
.post_img_container {
  width: 300px;
  height: auto;
  position: relative;
  padding: 0 10px;
}
.f {
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 10px;
  margin-bottom: 10px;
}
.author_img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  max-height: 100px;
  max-width: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgb(209, 209, 209);
  box-shadow: 0 0 5px rgb(209, 209, 209);
}
.author_area {
  width: 30%;
  padding: 30px 0 1px 0;
  position: relative;
  background-color: ghostwhite;
}
.author_text {
  width: auto;
  max-width: 80%;
  padding: 20px 0;
  text-align: center;
  position: relative;
  color: #24292e;
  font-weight: lighter;
  margin: 0 auto;
}
.post_title {
  width: 70%;
  padding: 80px 60px 80px 60px;
  font-size: 40px;
  color: ghostwhite;
  line-height: 45px;
  position: relative;
  background-color: #24292e;
  border-bottom-right-radius: 10px;
  word-wrap: normal;
}
.post_title_area {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0;
}
.post_body {
  width: 100%;
  padding: 40px 120px 10px 60px;
  font-weight: lighter;
  color: #24292e;
  word-wrap: normal;
}
.date {
  font-weight: bold;
  color: rgb(151, 151, 151);
  font-size: 14px;
}
.related_links {
  width: 100%;
  height: auto;
  padding: 10px 60px;
  margin-bottom: 30px;
}
#rel_link_title {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 20px;
  text-decoration: underline;
  margin-bottom: 5px;
}
.related_links a {
  text-decoration: none;
  color: rgb(0, 145, 202);
}
.related_links a:hover {
  text-decoration: underline;
  color: #1bbeff
}
@media(max-width: 930px){
  .post_img_container {
    width: 85%;
  }
}
@media(max-width: 900px){
  .post_title {
    width: 100%;
    border-bottom-right-radius: 0;
    font-size: 30px;
  }
  .author_area {
    width: 100%;
  }
  .post_title_area {
    display: inline-block;
  }
  .post_body {
    padding-right: 60px;
  }
}
.post_end_img {
  width: 50%;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.footer {
  position: relative;
  top: 43px;
  padding: 0;
  margin: 0;
}
.footer_wrap {
  background-color: #ff5e5e;
  width: 100%;
  position: relative;
  height: auto;
  padding: 10px 0 20px 0;
}
.footer_heading {
  width: 100%;
  height: auto;
  padding: 20px 0 0 0;
  color: ghostwhite;
  font-weight: lighter;
  text-align: center;
  font-size: 50px;
}
#org_link {
  border: 3px solid ghostwhite;
  padding: 30px;
  text-decoration: none;
}
.links_area {
  position: relative;
  margin: 30px auto 30px auto;
  width: 400px;
  height: auto;
}
.links_area a {
  margin: auto 5px;
}
body {
  margin: 0;
  position: relative;
  background-color: ghostwhite;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  width: 60px;
}

.fa:hover {
    box-shadow: 0 0 5px ghostwhite;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
.fa-github {
  background: #24292e;
  color: white;
}
